@model PokemonModel

<body style="background-color:darkred">
    <h1 style="color:gold;">Pokemon Info</h1>

    <table class="table" style="background-color:black">
        <tr style="color:white">
            <th>Sprite</th>
            <th>Species</th>
            <th>ID</th>
            <th>Types</th>
            <th>Height (Decimeter)</th>
            <th>Weight (Hectogram)</th>
            <th>Possible Held Items</th>
            <th>Possible Abilities</th>
            <th>Base Stats</th>
        </tr>

        <tr style="color:white;background-image:url(https://cdn.pixabay.com/photo/2016/09/01/11/33/pokemon-1635904_640.png); background-repeat: no-repeat;background-position:center; background-size:contain;">
            <td><img src="@Model.Sprite" alt="Pokemon" /></td>
            <td>@Model.Species</td>
            <td>@Model.ID</td>
            <td>
                @foreach (var type in Model.Types)
                {
                    <p>@type</p>
                }
            </td>
            <td>@Model.Height</td>
            <td>@Model.Weight</td>
            <td>
                @if (Model.HeldItems.Count == 0)
                {
                    <p>None</p>
                }
                else
                {
                    @foreach (var item in Model.HeldItems)
                    {
                        <p>@item</p>
                    }
                }
            </td>
            <td>
                @foreach (var ability in Model.Abilities)
                {
                    <p>@ability</p>
                }
            </td>
            <td>
               @* @foreach (var stat in Model.Stats)
                {
                    <p>@stat</p>
                }*@
                @for(var i = 0; i < Model.Stats.Count; i++)
                {
                    <p>@Model.Stats[i] : @Model.Stats[++i]</p>
                }
            </td>
        </tr>
    </table>

    <form method="post" asp-action="RetrievePokemon">
        <label for="pokemon" style="color:white">Pokemon</label>
        <input type="text" id="pokemon" name="pokemon" />
        <button type="submit" style="color:white; background-color:black">Submit</button>
    </form>
</body>
