@model PokemonModel

<h1>Pokemon Info</h1>

<img src="@Model.Sprite" alt="Pokemon" />

<table class="table">
    <tr>
        <th>Species</th>
        <th>ID</th>
        <th>Types</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Possible Held Items</th>
        <th>Possible Abilities</th>
        <th>Stats</th>
    </tr>

    <tr>
        <td>@Model.Species</td>
        <td>@Model.ID</td>
        <td>
            @foreach (var type in Model.Types)
            {
                <h6>@type</h6>
            }
        </td>
        <td>@Model.Height</td>
        <td>@Model.Weight</td>
        <td>
            @if (Model.HeldItems.Count == 0)
            {
                <h6>None</h6>
            }
            else
            {
                @foreach (var item in Model.HeldItems)
                {
                    <h6>@item</h6>
                }
            }
        </td>
        <td>
            @foreach (var ability in Model.Abilities)
            {
                <h6>@ability</h6>
            }
        </td>
        <td>
            @foreach (var stat in Model.Stats)
            {
                <h6>@stat</h6>
            }
        </td>
    </tr>
</table>

<h3>Species: @Model.Species</h3>

<h3>ID: @Model.ID</h3>

<h2>Types:</h2>
@foreach(var type in Model.Types)
{
    <h3>@type</h3>
}

<h3>Height: @Model.Height</h3>

<h3>Weight: @Model.Weight</h3>

<h2>Possible Held Items:</h2>
@if(Model.HeldItems.Count == 0)
{
    <h3>None</h3>
}
else
{
    @foreach(var item in Model.HeldItems)
    {
        <h3>@item</h3>
    }
}

<h2>Possible Abilities:</h2>
@foreach(var ability in Model.Abilities)
{
    <h3>@ability</h3>
}

<h2>Stats:</h2>
@foreach(var stat in Model.Stats)
{
    <h3>@stat</h3>
}